.color-navbar {
    background-color: #AA8ED6 !important;
    background-image: linear-gradient(90deg, #AA8ED6 0%, #AA8ED6 100%);
  }
  
  .color-texto-marca {
    color: #005F2F !important;
  }

  
  
