.color-navbar {
    background-color: #00B894 !important;
    background-image: linear-gradient(90deg,#0984E3 0%, #00B894 100%);
    height: 60px;
    overflow: visible;
    z-index: 10;
  }

  
  .color-texto-marca {
    color: #005F2F !important;
  }

  .logo-navbar {
    height: 80px;
    width: auto;
    filter: brightness(0) invert(1);
  }

  .color-texto-marca {
  color: #333333 !important; /* O el color principal de tu app */
}

.navbar .nav-link {
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.navbar .badge {
  transform: scale(0.9);
  z-index: 1;
}

  .menu-desplegable {
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 1000;
  min-width: 250px;
  padding: 12px;
}

