.color-navbar {
    background-color: #00B894 !important;
    background-image: linear-gradient(90deg,#0984E3 0%, #00B894 100%);
}

  
  .color-texto-marca {
    color: #005F2F !important;
  }

  .color-navbar {
    background-color: #b18cd7; /* tu color morado */
    height: 60px; /* ALTURA FIJA del Navbar */
    overflow: hidden; /* oculta cualquier cosa que se pase */
  }

  .logo-navbar {
    height: 80px;
    width: auto;
    filter: brightness(0) invert(1);
  }

  .color-texto-marca {
  color: #333333 !important; /* O el color principal de tu app */
}

.navbar .nav-link {
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.navbar .badge {
  transform: scale(0.9);
  z-index: 1;
}

  
