.welcome-section {
    background-color: #ffffff;
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    background: linear-gradient(to right, #9b59b6, #8e44ad);
    -webkit-background-clip: text; /* Para Safari */
    background-clip: text; /* Para navegadores modernos */
    color: transparent;
  }
  
  
  .animated.fadeIn {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #6a4c9c;
  }
  
  .card-text {
    color: #7f5a8b;
  }
  
  .card-button {
    background-color: #9b59b6;
    border: none;
  }
  
  .card-button:hover {
    background-color: #8e44ad;
    border-color: #8e44ad;
  }  
  
  /*Inicio*/
  .text-3d {
  color: #00796b;
  text-shadow: 2px 2px 0 #ffffff, 4px 4px 0 #b2dfdb;
  font-weight: 900;
  animation: popIn 1s ease-out;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #004d40;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
